canvas {
  border: 0px;
}

body {
  background-color: blue;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  position: fixed;
}

.text-box {
  font-size: medium;
  margin: 5px;
  padding: 5px;
  border: orange;
  border-style: solid;
  background: rgba(255, 249, 227, 0.774);
}

p {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  overflow: auto;
  padding: 5px;
  color: rgb(65, 34, 0);
  height: auto;
  display: block;
  transition: max-height 0.75s ease-in-out;
}

span.collapsible {
  right: -17px;
  max-height: 550px;
  max-width: 800px;
  box-sizing: content-box;
}

span.collapsed {
  overflow: hidden;
  max-height: 0;
}

a {
  color: rgb(223, 119, 0);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: rgb(170, 91, 0);
  text-decoration: none;
}

#why {
  display: none;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
